.typein-container{
  background: #ffffff;
  height: 100%;
  overflow: hidden;
  .input-box{
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8;
    input{
      text-align: right;
      height: 20px;
      font-size: 20px;
      font-weight: 600;
      border: none;
    }
  }
  .tags-box{
    padding: 15px;
    box-sizing: border-box;
    .tag-item{
      text-align: center;
      label{
        font-size: 14px;
      }

      .fa {
        display: block;
        font-size: 20px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin: 0 auto;
      }
    }
  }
}