@import "./src/static/style/base.scss";

.searchaccount-container{
  .am-search{
    background: #ffffff;
    border-bottom: 1px solid $light-gray-line;
    .am-search-input{
      background: $light-gray;
      input{
        caret-color: $main-font-color
      }
    }
  }
  .am-search-cancel{
    color: $main-font-color;
  }
  .content-box{
    height: 557px;
    background: #ffffff;
    .res-box{
      border-top: 1px solid transparent;
      height: 100%;
      .res-total-header{
        background: $under-page-color;
        border-bottom: 1px solid $light-gray-line;
        padding: 5px 10px 5px 20px;
        p{
          display: inline-block;
          margin: 0;
          font-size: 12px;
        }
      }
      .res-item-wrap{
        height: 557px;
        overflow: auto;
        .res-item{
          .header-p{
            width: 100%;
            display: none;
          }
          .header-p.fixed{
            display: block;
            width: 100%;
          }
          .res-item__header{
            background: $under-page-color;
            padding: 5px 20px;
            font-size: 12px;
            color: $gray;
          }
          .res-item__header.fixed{
            //height: 30px;
            width: 100%;
            //line-height: 30px;
            background: $under-page-color;
            padding: 5px 20px;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            position: fixed;
            color: $gray;
            //left: 0;
            z-index: 10;
            p{
              display: inline-block;
            }
          }
          .res-item__body{
            border-bottom: 1px solid $light-gray-line;
            height: 60px;
            background: #ffffff;
            margin-left: 10px;
            list-style: none;
            padding-right: 10px;
            label{
              span{
                display: inline-block;
                margin-left: 10px;
              }
            }
            .type-name{
              font-weight: 600;
              font-size: 18px;
            }
            .bak{
              font-size: 12px;
              margin-top: 6px;
              color: #616161;
            }
            h3{
              font-weight: 700;
            }
            h3.is-expense{
              color: #0ed4c1;
            }
          }
        }
        .res-item:last-child .res-item__body{
          //border-bottom: 1px solid $light-gray-line;
        }
      }
      .nores{
        margin-top: 100px;
        font-size: 14px;
        text-align: center;
      }
    }
    .search-tag-box{
      padding: 0 90px 0 20px;
      .tag-button{
        padding: 6px 15px;
        background: $light-gray;
        font-size: 14px;
        list-style: none;
        display: inline-block;
        border-radius: 3px;
        margin-top: 10px;
        margin-right: 10px;
      }

    }
  }

}